body
{
    background-color: rgb(200, 200, 200);
    color: rgb(80, 80, 80);
    margin: 0;
}

#wrapper
{
    width: 730px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 0 1.5em;
}

#input
{
    width: 100%;
    height: 45%;
}

#output
{
    height: 45%;
    border: 1px solid #ddd;
    padding-top: 1em;
    padding-left: 1em;
}

.control-group
{
    padding-top: 0.5em;
}

button
{
    padding: 0.4em;
}

select
{
    padding: 0.4em;
}

